/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--font-weight-card-text);
  background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

.header {
  margin: 0px auto;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  text-transform: uppercase;
  margin: 120px auto 20px;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 49px;
}

.header__title {
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.theme-menu {
  margin: 23px auto;
}

.theme-menu__list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  background: none;
  border: none;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.theme-menu__button:disabled {
  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  content: '';
  display: block;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: 0 0;

}

@keyframes arrow {
  from {
    translate: 0px;
  }

  to {
    translate: -4px;
  }
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}


.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  width: 14px;
  height: 14px;
  left: -12px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px auto 52px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-card-title);
  font-size: 18px;
  line-height: 21.78px;
  margin: 4px 10px;
}

.card__image-block {
  position: relative;

}

.card__image {
  width: 100%;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 11px;
  font-size: 14px;
  font-family: var(--accent-font-family);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
  background-blend-mode: hard-light;
}

.card__text-block {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 18px;
  line-height: 21px;
}

.card__button-block {
  display: flex;
  justify-content: end;
  height: 38px;
  margin: 0px 25px 25px auto;
}

.card__icon-button {
  background: none;
  border: none;

}

.card__like-button {
  border: 2px solid #000;
  background: none;
  width: 130px;
  transition: box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__like-button::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;

}

.card__like-button:hover::after {
  translate: 0 0;
}

.card__like-button:hover .button__text {
  mix-blend-mode: difference;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 0;
  outline: none;

}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0;
  outline: none;

}

.button__text {
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;

}

.is-liked {}

.footer {
  padding: 52px 34.5px 0px;
}

.footer__button {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.footer__button::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}

.footer__button:hover::after {
  translate: 0 0;
}

/* @media (width <=375px) {
  .page {
    background-image: var(--main-background-image);
  }
} */