/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--font-weight-card-text);
  background-image: repeating-linear-gradient(90deg, var(--background-color-line) 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, var(--background-color-line), rgb(0 0 0 / 0) 2px 4px),
    -webkit-gradient(linear, left top, left bottom, from(var(--background-gradiend-color-one)), to(var(--background-gradiend-color-two)));
  background-image: -o-repeating-linear-gradient(left, var(--background-color-line) 0 2px, rgb(0 0 0 / 0) 2px 4px), -o-repeating-linear-gradient(top, var(--background-color-line), rgb(0 0 0 / 0) 2px 4px),
    -o-linear-gradient(top, var(--background-gradiend-color-one), var(--background-gradiend-color-two) 100%);
  background-image: repeating-linear-gradient(90deg, var(--background-color-line) 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, var(--background-color-line), rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, var(--background-gradiend-color-one), var(--background-gradiend-color-two) 100%);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

.header {
  margin: 0px auto;
  border: 2px solid var(--main-color-text);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--background-color-text);
  color: var(--main-color-text);
  max-width: 700px;
}

.logo {
  text-transform: uppercase;
  margin: clamp(120px, 31cqw, 136px) auto 20px;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: clamp(45px, 13cqw, 65px);
}

.header__title {
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: clamp(13px, 3.7cqw, 23px);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu {
  margin: 23px auto;
}

.theme-menu__list {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  background: none;
  border: none;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-color-text);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  border-bottom: 1px solid var(--main-color-text-with-oposity);
  content: "";
  display: block;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border-bottom: 1px solid var(--main-color-text-with-oposity);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -12px;
  -webkit-animation: arrow 0.5s infinite ease-in-out alternate;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 51px;
  margin: 100px auto 0px;
  color: var(--main-color-text);
  max-width: 700px;
}

.card {
  background-color: var(--background-color-text);
  border: 2px solid var(--main-color-text);
}

.card__title {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-card-title);
  font-size: 18px;
  line-height: 21.78px;
  margin: 4px 10px;
  max-width: 300px;
}

.card__image-block {
  position: relative;
}

.card__image {
  width: 100%;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 11px;
  font-size: 14px;
  font-family: var(--accent-font-family);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: var(--main-color-text);
  opacity: 0.5;
  background-blend-mode: hard-light;
}

.card__text-block {
  margin: 21px 25px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 18px;
  line-height: 21px;
}

.card__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  height: 38px;
  margin: 0px 25px 24px auto;
}

.card__icon-button {
  background: none;
  border: 2px solid transparent;
  -webkit-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
  padding: 0;
  margin-right: 5px;
  width: 39px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color-text);
  outline: none;
}

.card__block-like-button {
  width: 130px;
}

.card__like-button {
  border: 2px solid var(--main-color-text);
  background: none;
  width: 100%;
  height: 38px;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__like-button::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--main-color-text);
  -webkit-transition: translate 0.5s ease-in-out;
  -o-transition: translate 0.5s ease-in-out;
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}

.card__like-button:hover::after {
  translate: 0 0;
}

.card__like-button:focus {
  -webkit-box-shadow: 2px 2px 0 0;
  box-shadow: 2px 2px 0 0;
  outline: none;
}

.card__like-button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0;
  box-shadow: 2px 2px 0 0;
  outline: none;
}

.button__text {
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;
  color: var(--color-text-button);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-text-button);
}

.footer {
  padding: 52px 34.5px 0px;
  margin: 0 auto;
}

.footer__button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color-text);
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--background-color-text);
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0 var(--main-color-text);
  box-shadow: 2px 2px 0 0 var(--main-color-text);
  outline: none;
}

.footer__button::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--main-color-text);
  -webkit-transition: translate 0.5s ease-in-out;
  -o-transition: translate 0.5s ease-in-out;
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}

.footer__button:hover::after {
  translate: 0 0;
}

.footer__button-image {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  stroke: var(--color-text-button);
  fill: var(--color-text-button);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.footer__button-text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-button);
  line-height: 21px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.dialog__block-svg {
  margin: auto;
}

.dialog__image {
  width: 40px;
  height: 40px;
}

.dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  width: 341px;
  border: 2px solid var(--main-color-text);
  margin: auto;
  padding: 28px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  background-color: var(--background-color-text);
}

.dialog__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.filter-contrast {
  -webkit-filter: contrast(1500%);
  filter: contrast(1500%);
}

.filter-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.filter-grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.filter-saturate {
  -webkit-filter: saturate(250%);
  filter: saturate(250%);
}

.filter-hue-rotate {
  -webkit-filter: hue-rotate(-90deg);
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  -webkit-filter: sepia(80%);
  filter: sepia(80%);
}

.filter-invert {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
}

.my-filter {
  -webkit-filter: brightness(500%) sepia(80%) invert(0.8);
  filter: brightness(500%) sepia(80%) invert(0.8);
}

@media (width > 375px) {
  .card__title {
    max-width: 100%;
  }

  .card__label {
    right: 25px;
  }

  .footer__button {
    max-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
  }

  .footer__button-image {
    scale: 0.7;
  }

  .dialog[open] {
    width: 357px;
  }

  .dialog__image {
    scale: 1;
  }
}