/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --font-weight-card-text: 400;
    --font-weight-card-title: 700;
    --main-background-image:
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

    --background-color-text: #fff;
    --main-color-text: #000;
    --main-color-text-with-oposity: rgba(0, 0, 0, 0.6);
    --color-text-button: #fff;
    --color-heart-contour: var(--main-color);
}

:root.theme-dark {
    --font-weight-card-text: 465;
    --font-weight-card-title: 785;
    --main-background-image:
        repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #000, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #007f0c, #004306 100%);
    --background-color-text: #000;
    --main-color-text: rgba(0, 204, 20, 1);
    --color-text-button: var(--main-color-text);
    --main-color-text-with-oposity: rgba(0, 204, 20, 0.6);
}

@media (prefers-color-scheme:dark) {
    :root {
        --font-weight-card-text: 465;
        --font-weight-card-title: 785;
        --main-background-image:
            repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
            repeating-linear-gradient(180deg, #000, rgb(0 0 0 / 0) 2px 4px),
            linear-gradient(180deg, #007f0c, #004306 100%);
        --background-color-text: #000;
        --main-color-text: rgba(0, 204, 20, 1);
        --color-text-button: var(--main-color-text);
        --main-color-text-with-oposity: rgba(0, 204, 20, 0.6);
    }
}