:root {
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'PressStart2P', fantasy;
    --font-weight-card-text: 400;
    --font-weight-card-title: 700;
    --main-background-image:
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    --background-color-text: #fff;
    --main-color-text: #000;
    --main-color-text-with-oposity: rgba(0, 0, 0, 0.6);
    --color-text-button: #fff;

    --color-heart-like: rgba(255, 0, 0, 1);
    --color-details-heart-defoult: transparent;
}