:root {
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'PressStart2P', monospace;
    --font-weight-card-text: 400;
    --font-weight-card-title: 700;
    --background-color-line: #d3d3d3;
    --background-gradiend-color-one: #e7e7e7 0.01%;
    --background-gradiend-color-two: #1a1a1a;
    --background-color-text: #fff;
    --main-color-text: #000;
    --main-color-text-with-oposity:rgba(0, 0, 0, 0.6);
    --color-text-button:#fff;
    --color-heart-contour: var(--main-color);
}